.navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.5) !important;
}

body {
    font-family: 'Lato', sans-serif;
}

#blogtitle {
    font-size: 6rem;
}

.row { 
    flex-direction: row;
}

.img-style {
    min-height: 250px;
    position: center;
}

.personal-pic {
    max-height: 300px;
}

.flex {
    display: flex;
    justify-content: center;
    text-align: center;
  }

.top {
    margin-top: 45px;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 2rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}
